<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>AssumeInfo</title>
		<style>
      table {
        width: 70%;
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid #C2C2FF;
        padding: 3px 7px 2px 7px;
      }
      th {
        text-align: left;
        padding: 5px;
        background-color: #9999FF;
        color: #fff;
      }
      tr:hover { background-color: #E0E0FF; }
    </style>
	</head>
	<body>
		<div align="center"><th:block th:include="_menu"></th:block></div>
		<h2>Assumed Information</h2>
		<br/>
		<p>Total Workers Time:</p>
		<table border="1">
			<thead>
				<tr>
					<th>Worker_Id</th>
					<th>Worker_Name</th>
					<th>Total Hours</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="worker:${workers}">
					<td th:utext="${worker.userId}"></td>
					<td th:utext="${worker.userName}"></td>
					<td th:utext="${worker.totalHours}"></td>
				</tr>
			</tbody>
		</table>
		<p>Total Projects Time:</p>
		<table border="1">
			<thead>
				<tr>
					<th>Project_Id</th>
					<th>Project_Name</th>
					<th>Total_Hours</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project:${projects}">
					<td th:utext="${project.Project_Id}"></td>
					<td th:utext="${project.Project_Name}"></td>
					<td th:utext="${project.Spent_Hours}"></td>
				</tr>
			</tbody>			
		</table>
		<form action="/sendAssume">
			<input type="submit" value="Send assume info">
		</form>
	</body>
</html>